/* CSS Document */

.footer{
	display: block;
	margin-bottom: 0;
//	position: absolute;
	margin-top:27.4444%;
}
	



/*


    <style>
	  .footer{
	margin-bottom: 0;
	padding-bottom: 0;
	position: absolute;
	top: 59.55555%;
	}
	</style>
	
*/